<!doctype html>
<html>
	{{enqueue_script('main-bundle')}}
	{% include 'html-header.twig' %}

	<body class="{{body_class}} pdg" data-template="base.twig">
		<a class="sr-only" href="#content">{{ _e( 'Skip to content') }}</a>
		<div class="js-mobile-indicator"></div>
		<header class="box box--default pdgb0">
			{% block header %}
				{% include "banner.twig" %}

				<nav role="navigation" class="navigation navigation--collapsed js-navigation">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav>
			{% endblock %}
		</header>

		<section role="main" class="mrgt+">
			{% if title %}<h1>{{title}}</h1>{% endif %}

			<div class="content">
				{% block content %}
					Hier gibt es nichts zu sehen...
				{% endblock %}
			</div>

			{% if sidebar %}
				<aside class="{{sidebar_class}}">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}

		{{get_scripts()}}
	</body>
</html>
