{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}} pdg" data-template="base.twig">
		<a class="sr-only" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="box box--default" >
			{% block header %}
				<div class="banner" role="banner">
					<h1 class="text-right">
						<a href="{{site.url}}" rel="home" class="banner__link">
							<span>{{site_name}}</span>
							{% if site_name_repeat %}
								<span class="banner__repeat">{{site_name_repeat}}</span>
							{% endif %}
							<sup class="banner__sup">2</sup>
						</a>
					</h1>

					{% if site_name_repeat %}
						<h1 aria-hidden="true" class="banner__fixed">
							{{site_name_repeat}}
						</h1>
					{% endif %}
				</div>

				<nav id="nav-main" class="mrgt+" role="navigation">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="mrgt+">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div>
				{% block content %}
					Hier gibt es nichts zu sehen...
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="{{sidebar_class}}">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
