{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}} pdg" data-template="base.twig">
		<a class="sr-only" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="box box--default">
			{% block header %}
				{% include "banner.twig" %}

				<nav id="nav-main" class="mrgt+" role="navigation">
					{% include "menu.twig" with {'menu': menu.get_items} %}
				</nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="mrgt+">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div>
				{% block content %}
					Hier gibt es nichts zu sehen...
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="{{sidebar_class}}">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
