<form class="form js-contact-form" method="post" enctype="multipart/form-data">
  {% if  user %}
    <input type="hidden" name="email" value="{{ user.email }}">
    <input type="hidden" name="author" value="{{ user.name }}">
  {% else %}
    <div class="form-group form__group">
      <input
        required
        name="email"
        type="email"
        id="email"
        class="field"
        value="{{ form_data.email }}"
      >
      <label for="email" class="field-label">Email</label>
    </div>
    <div class="form-group form__group">
      <input
        required
        name="author"
        type="text"
        id="author"
        class="field"
        value="{{ form_data.author }}"
      >
      <label for="author" class="field-label">Name</label>
    </div>
  {% endif %}

  <div class="form-group form__group">
    <input
      required
      name="reply-title"
      type="text"
      id="reply-title"
      class="field"
      value="{{ form_data['reply-title'] }}"
    >
    <label for="reply-title" class="field-label">Betreff</label>
  </div>

  <div class="form-group form__group">
    <textarea
      required
      rows="10"
      name="comment"
      id="comment"
      class="field"
    >{{ form_data.comment }}</textarea>
    <label for="comment" class="field-label">Nachricht</label>
  </div>

  <div class="form-group form__group">
    <input
      name="attachment"
      type="file"
      id="attachment"
      class="field"
      data-max-file-size="{{ MAX_FILE_SIZE }}"
      data-max-file-message="Du darfst maximal 1MB hochladen."
    >
    <label for="attachment" class="field-label">Anhang</label>
  </div>

  <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
  <input name="comment_parent"  value="{{ comment.ID|default('0') }}" type="hidden">
  {{wp_nonce_field('attachment', 'attachment_nonce')}}

  <div class="form-group text-right">
    <button value="submit" type="submit" name="submit" class="btn btn--primary">Send</button>
    <button type="reset" class="btn btn--default">Cancel</button>
    <div class="field-help">Alle mit * markierten Felder sind erforderlich.</div>
  </div>

  <div hidden>{{dump(form_data.error)}}</div>
</form>
{{ enqueue_script('form-handler') }}
