{% if menu %}
	<ul class="menu js-menu">
		<li class="menu__home-item">
			<a href="{{ site.url }}" rel="home" class="menu__link">Start</a>
		</li>

		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}" class="menu__link">{{ item.title }}</a>
				{% include "menu.twig" with {'menu': item.children} %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
