{% extends "page.twig" %}

{% block author %}
	{% if current_user_can('edit_posts') %}
		<a href="{{ post.link }}">{{ _e('edit') }}</a>
	{% endif %}

	<p>
		<span>By</span>
		<a href="{{post.author.path}}"> {{ post.author.name }} </a>
		<span>&bull;</span>
		{{ post.date }}
	</p>
{% endblock %}
