<article class="tease tease-{{post.post_type}} media media--responsive" data-id="{{post.ID}}">
	{% block content %}
		<div class="media__body">
			{% if is_home and (is_template or post.categories is not empty) %}
				<p class="tease__categories js-tease-categories mrgt0">
					{% for category in post.categories %}
						<a href="{{get_category_link(category.id)}}">{{category}}</a>
					{% endfor %}
				</p>
			{% endif %}

			<h2 class="mrgt0">
				<a href="{{post.link}}" class="js-tease-title" title="{{post.link}}">
					{{post.title}}
				</a>
			</h2>

			<p class="mrgb0 js-tease-excerpt">{{post.preview.read_more(false)}}</p>
		</div>

		{% if is_template or post.get_thumbnail %}
			<div class="media__left js-tease-thumbnail">
				<img src="{{post.thumbnail.src('thumbnail')}}" />
			</div>
		{% endif %}
	{% endblock %}
</article>
